body {
    background-color: #888888;
}

.page {
    position: relative;
    background-color: #444444;
    height: 100px;
    width: 200px;
}
.page img {
    height: 100%;
}

.page .order-arrows {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30px;
}

.page .order-arrows div {
    width: 100%;
    height: 50%;
}